<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>게시판</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <nav>
        <div th:if="${session.userId != null}">
            <span th:text="'UserID : ' + ${session.userId}"></span>
            <a href="/board/logout"><button>로그아웃</button></a>
        </div>
        <div th:unless="${session.userId != null}">
            <a href="/board/login"><button>로그인</button></a>
            <a href="/board/register"><button>회원가입</button></a>
        </div>
    </nav>
</head>
<body>

<div id="root">
    <header>
        <h1> 게시판</h1>
    </header>
    <hr />

<!--    <nav>-->
<!--        홈 - 글 작성-->
<!--    </nav>-->
    <hr />

    <section id="container">
        <form>
            <table>
                <tbody>
                <tr>
                    <td>
                        <label for="title" style="font-weight:bold;">제목</label>
                        <label id="title" name="title" th:text="${board.title}"></label>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="writer" style="font-weight:bold;">작성자</label>
                        <label id="writer" name="writer" th:text="${board.writer}"></label>

                        <label for="regDate" style="font-weight:bold;">작성일</label>
                        <label id="regDate" name="regDate" th:text="${board.regDate}"></label>

                        <label for="viewCount" style="font-weight:bold;">조회수</label>
                        <label id="viewCount" name="viewCount" th:text="${board.viewCount}"></label>
                    </td>
                </tr>
                <tr>
                </tr>
                <tr>
                    <td>
                        <label style="font-weight:bold;">내용</label>
                        <br>
                        <label style="display:inline-block; width: 500px; height: 300px">
                            <th:block th:each="text : ${content}">
                                <p th:text="${text}"></p>
                            </th:block>
                        </label>
                    </td>
                </tr>

                </tbody>
            </table>
        </form>
    </section>
    <hr />
</div>
</body>
</html>