<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>게시판</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <style>
        nav {
            width: 800px;
            padding: 15px;
            text-align: right;
            border-bottom: 1px solid gray;
        }

        .container {
            width: 800px;
            padding: 15px;
        }

        section strong {
            display: inline-block;
            margin: 0 15px 0 5px;
            font-weight: normal;
        }

        .btn {
            cursor:pointer;
            width: 70px;
            height: 25px;
            text-decoration: none;
            text-align: center;
            border: 1px solid #000;
            background-color: #fff;
            color: #000;
            display: inline-block;
        }
        div {
           display: block;
        }

    </style>

    <script>
        function writeReply() {
            var form = document.reply;
            form.action = "/reply/write";
            form.method ="post";
            form.submit();
        };

        function deleteReply(frm) {
            var form = document.forms[frm];
            form.action = "/reply/delete";
            form.method ="post";
            form.submit();
        };

        function replyModify(id) {
            if( document.getElementById(id).style.display == 'block')
                document.getElementById(id).style.display = 'none';
            else
                document.getElementById(id).style.display = 'block';
        }

    </script>

</head>
<body>
    <nav>
        <div th:if="${session.userId != null}">
            <a href="/member/logout" class="btn" style="width: 80px">로그아웃</a>
        </div>
        <div th:unless="${session.userId != null}">
            <a href="/member/login" class="btn" style="width: 80px">로그인</a>
            <a href="/member/register" class="btn" style="width: 80px">회원가입</a>
        </div>
    </nav>

    <div class="container">
        <h2 style="text-align: center;">게시글</h2>

        <div>
            <article style="width: 100%">
                <!-- 타이틀 -->
                <header>
                    <h1 for="title" style="padding-left: 40px; font-size: 1.2em;">제목 : <th:bloack th:text="${board.title}"></th:bloack></h1>
                </header>

                <!-- 게시물 정보 -->
                <section style="padding: 0 0 10px; border-bottom: 1px solid #333;">
                    <a>작성자</a>
                    <strong th:text="${board.writer}"></strong>
                    <a>작성일</a>
                    <strong th:text="${board.regDate}"></strong>
                    <a>조회수</a>
                    <strong th:text="${board.viewCount}"></strong>
                </section>

                <!-- 수정, 삭제, 목록 버튼 -->
                <div style="margin: 0 0 10px; padding: 10px 0; height: 30px;">
                    <div style="float: right;">
                        <th:block th:if="${board.writer == session.userId}">
                            <a href="#" class="btn">수정</a>
                            <a href="#" class="btn">삭제</a>
                        </th:block>
                        <a href="/board" class="btn">목록</a>
                    </div>
                </div>

                <!-- 게시물 내용 -->
                <section>
                    <div style="height: auto; min-height: 200px; table-layout:fixed; word-break:break-all; border-bottom: 1px solid gray;">
                        <th:block th:each="text : ${content}">
                            <p th:text="${text}"></p>
                        </th:block>
                    </div>
                </section>

                <!-- 댓글 -->
                <div>
                    <!-- HashMap 반복 -->
                    <div style="padding: 0 0 10px; border-bottom: 1px solid #333;" th:each="map : ${replyList}">
                        <!-- reply 값 중 -->
                        <div th:each="reply : ${map.key}" style="margin-bottom: 10px">
                            <span style="margin-left: 20px; font-size: 12px; color: gray" th:text="${reply.writer}"></span>
                            <span style="margin-left: 20px; font-size: 12px; color: gray" th:text="${reply.regDate}"></span>
                            <th:block th:if="${session.userId == reply.writer}">
                                <!-- 댓글 마다 다른 폼이기 때문에 id 값을 달리 주기 위함 -->
                                <form th:id="'form'+${reply.replyId}" style="float: right;">
                                    <input type="hidden" name="replyId" th:value="${reply.replyId}">
                                    <input type="hidden" name="contentId" th:value="${board.id}">
                                    <a th:onclick="|javascript:replyModify('divModify'+${reply.replyId})|" class="btn" style="width: 40px; height: 25px; margin-top: 5px">수정</a>
                                    <!-- 해당 폼의 submit을 수행 하기 위해 파라미터 값으로 폼 id 전달 -->
                                    <a th:onclick="|javascript:deleteReply('form'+${reply.replyId})|" class="btn" style="width: 40px; height: 25px; margin-top: 5px">삭제</a>
                                </form>
                                <!-- 댓글 수정 -->
                                <div th:id="'divModify'+${reply.replyId}" style="display: none; ">
                                    <textarea  rows="3" style="resize: none; box-sizing: border-box; overflow: auto; padding: 5px; width: 80%"></textarea>
                                    <a href="#" class="btn" style="width: 40px; height: 25px; margin-top: 5px">확인</a>
                                </div>
                            </th:block>
                        </div>
                        <!-- List<String> 값 중 -->
                        <div th:each="content : ${map.value}">
                            <p style="margin: 0 10px" th:text="${content}" visibility></p>
                        </div>
                    </div>
                </div>

                <!-- 댓글 달기 -->
                <form name="reply" style="padding: 10px 0; width: 100%">
                    <!-- 게시물 ID, User ID 값 Hidden -->
                    <input type="hidden" name="contentId" th:value="${board.id}">
                    <input type="hidden" name="writer" th:value="${session.userId}">

                    <!-- 로그인 상태 일 경우 만 -->
                    <th:block th:if="${session.userId != null}">
                        <textarea id="content" name="content" rows="3" style="resize: none; box-sizing: border-box; overflow: auto; padding: 5px; width: 100%"></textarea>
                        <div style="text-align: right">
                            <a href="javascript:writeReply();" class="btn">등록</a>
                        </div>
                    </th:block>
                </form>
            </article>
        </div>
    </div>
</body>
</html>