<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>게시판</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <nav>
        <div th:if="${session.userId != null}">
            <span th:text="'UserID : ' + ${session.userId}"></span>
            <a href="/board/logout"><button>로그아웃</button></a>
        </div>
        <div th:unless="${session.userId != null}">
            <a href="/board/login"><button>로그인</button></a>
            <a href="/board/register"><button>회원가입</button></a>
        </div>
    </nav>
</head>
<body>

<div id="root">
    <header>
        <h1> 게시판</h1>
    </header>
    <hr />

<!--    <nav>-->
<!--        홈 - 글 작성-->
<!--    </nav>-->
    <hr />

    <section id="container">
        <form role="form" method="post" action="/board/write/add">
            <table>
                <tbody>
                <tr>
                    <td>
                        <label for="title">제목</label><input type="text" id="title" name="title" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="content">내용</label><textarea style="resize: none; width: 500px; height: 300px" id="content" name="content" ></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="writer">작성자</label>
                        <input th:if="${session.userId != null}" type="text" id="writer" name="writer" th:attr="value=${session.userId}" />
                        <input th:unless="${session.userId != null}" type="text" id="writer" name="writer" />
                    </td>
                <tr>
                    <td>
                        <button type="submit">작성</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </section>
    <hr />
</div>
</body>
</html>