<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>게시판</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- include libraries(jQuery, bootstrap) -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- include summernote css/js -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

    <style>
        nav {
            width: 800px;
            padding: 15px;
            text-align: right;
            border-bottom: 1px solid gray;
        }

        .container {
            float: left;
            width: 800px;
            padding: 15px;
        }

        .abtn {
            width: 70px;
            height: 25px;
            text-decoration: none;
            text-align: center;
            border: 1px solid #000;
            background-color: #fff;
            color: #000;
            display: inline-block;
        }

        form {
            width: 100%;
        }

        form table {
            width: 100%;
        }
    </style>

    <script>
        $(document).ready(function() {
            $('#summernote').summernote({
                toolbar: [
                    // [groupName, [list of button]]
                    ['fontname', ['fontname']],
                    ['fontsize', ['fontsize']],
                    ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
                    ['color', ['forecolor','color']],
                    ['table', ['table']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']],
                    ['insert',['picture','link','video']],
                    ['view', ['fullscreen', 'help']]
			    ],
			    fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋움체','바탕체'],
			    fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72'],
                placeholder: '여기에 내용을 적으세요.',
                height: 300,
                minHeight: null,
                maxHeight: null,
                focus: true,
                lang: 'ko-KR',
                disableResizeEditor: true,
                callbacks: {
                    onImageUpload: function(files, editor, welEditable) {
                        for(var i=files.length-1; i>=0; i--){
                            imageUpload(files[i], this);
                        }
                    }
                }
            });
        });

        function imageUpload(file, el) {
            data = new FormData();
            data.append("file", file);

            $.ajax({
                data: data,
                type: "POST",
                url: "/board/write/imageUpload",
                cache: false,
                enctype: "multipart/form-data",
                contentType: false,
                processData: false,
                success: function(data) {
                    console.log(data);
                    $(el).summernote('editor.insertImage', data);
                }
            });
        };

    </script>

    <script>
        function writeSubmit() {
            var form = document.writeForm;
            form.action = "/board/write/add";
            form.method = "post";
            form.enctype = "multipart/form-data";
            form.submit();
        }

    </script>

</head>
<body>
    <nav>
        <div th:if="${session.userId != null}">
            <a href="/member/logout" class="abtn" style="width: 80px">로그아웃</a>
        </div>
        <div th:unless="${session.userId != null}">
            <a href="/member/login" class="abtn" style="width: 80px">로그인</a>
            <a href="/member/register" class="abtn" style="width: 80px">회원가입</a>
        </div>
    </nav>

    <div class="container">
        <h2 style="text-align: center;">게시글 글쓰기</h2>

        <form name="writeForm" id="writeForm">
            <table style="border-spacing: 10px 20px">
                <tbody>
                <tr>
                    <th style="width: 10%">
                        <label for="title">제목</label>
                    </th>
                    <td style="width: 90%">
                        <input style="padding: 0 7px; width: 100%; height: 30px; box-sizing: border-box;" type="text" id="title" name="title" />
                    </td>
                </tr>
                <tr>
                    <th style="width: 10%">
                        <label>내용</label>
                    </th>
                    <td style="width: 90%">
                            <textarea id="summernote" name="content"></textarea>
<!--                        <textarea style="resize: none; width: 100%; box-sizing: border-box;" rows="20" id="content" name="content" ></textarea>-->
<!--                        <input type="hidden" id="content" name="content">-->
<!--                        <div style="padding: 7px; max-width: 677px; height: 300px; overflow-x: auto; word-wrap: break-word; outline : solid 1px black;"-->
<!--                             id="content-list" name="content-list"-->
<!--                             role="textbox" contenteditable="true" spellcheck="true" aria-multiline="true" draggable="true"-->
<!--                             ondragleave="onDragleave(event)" ondragover="onDragover(event)" ondrop="onDrop(event)">-->

                            <p style="margin: 0;"><br>
                            </p>
                        </div>

                    </td>
                </tr>
                <tr>
                    <th style="width: 10%">
                        <label for="writer">작성자</label>
                    </th>
                    <td style="width: 90%">
                        <label style="width: 20%; font-weight: normal;" th:if="${session.userId != null}" type="text" id="writer" name="writer" th:text="${session.userId}"/>
                    </td>
                </tr>

                <!-- 파일 첨부 -->
                <tr>
                    <th style="width: 10%;">
                        <label>첨부파일</label>
                    </th>
                    <td>
                        <input multiple="multiple" type="file" id="uploadFiles" name="uploadFiles"/>
<!--                        <label style="padding: .5em .5em; color: #fff; line-height: normal; vertical-align: middle; background-color: #337ab7; border: 1px solid #ebebeb;border-radius: .3em;"-->
<!--                               for="files">파일선택</label>-->
<!--                        <input style="display: none;" type="file" id="files">-->
                    </td>
                </tr>
                </tbody>
            </table>

            <div style="text-align: center;">
                <th:block th:if="${session.userId != null}">
                    <a href="javascript:writeSubmit();" class="abtn">작성</a>
                    <a href="/board" class="abtn">취소</a>
                </th:block>
            </div>
        </form>
    </div>
</body>
</html>