<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

    <Properties>

        <Property name="logFileName">BOARD_LOG</Property>
        <Property name="consoleLayout">[%d] [%-5p] [%c] %x : %m%n</Property>            <!-- -5 : 5자 미만 일 경우 오른쪽 스페이스 패딩 [ERROR] [INFO ] ... -->
        <Property name="fileLayout">[%d] [%-5p] [%13F\:%L] : %m%n</Property>

    </Properties>

    <Appenders>

        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${consoleLayout}" />
        </Console>

        <RollingFile name="file"
                     fileName="logs/${logFileName}.log"
                     filePattern="logs/${logFileName}.%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${fileLayout}" />

            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1" /><!--로그 파일 생성 시간 간격(날짜 패턴에 명시 된 가장 작은 단위 기준)-->
            </Policies>

            <DefaultRolloverStrategy max="5" fileIndex="min"><!-- 롤링 파일 5개 까지 생성 -->
                <Delete basePath = "logs" maxDepth = "1"><!-- maxDepth = "1" : 파일만 지울 때 1 설정 -->
                    <!-- 3일이 경과한 로그파일은 자동 삭제 -->
                    <IfLastModified age = "7d"/>
                </Delete>
            </DefaultRolloverStrategy>

        </RollingFile>
    </Appenders>

    <Loggers>

        <!-- 스프링 프레임워크에서 찍는건 level을 info로 설정 -->
        <logger name="org.springframework" level="info" additivity="false"> <!-- additivity="false" : 중복 로그 제거 -->
            <AppenderRef ref="console" />
            <AppenderRef ref="file" />
        </logger>

        <logger name="com.board.basic" level="debug" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="file" />
        </logger>

    </Loggers>
</Configuration>