<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--<mapper namespace="com.board.basic.mapper.BoardMapper">-->
<mapper namespace="ReplyMapper">
    <!-- DB 컬럼명과 DTO 객체 필드명이 다를 경우 -->
    <resultMap id="ReplyMap" type="Reply">
        <result property="replyId" column="REPLY_ID"/>
        <result property="contentId" column="CONTENT_ID"/>
        <result property="writer" column="WRITER"/>
        <result property="content" column="CONTENT"/>
        <result property="regDate" column="REGDATE"/>
    </resultMap>

    <select id="selectAll" parameterType="long" resultType="Reply" resultMap="ReplyMap">
        SELECT REPLY_ID, CONTENT_ID, WRITER, CONTENT, REGDATE FROM REPLY WHERE CONTENT_ID = #{contentId} ORDER BY REPLY_ID ASC;
<!--        SELECT replyId, contentId, WRITER, CONTENT, REGDATE FROM REPLY WHERE contentId = #{contentId} ORDER BY replyId ASC;-->
    </select>

    <select id="selectOne" parameterType="long" resultType="Reply" resultMap="ReplyMap">
        SELECT * FROM REPLY WHERE CONTENT_ID = #{contentId} AND ROWNUM = '1';
<!--        SELECT * FROM REPLY WHERE contentId = #{contentId} AND ROWNUM = '1';-->
    </select>

    <insert id="write" parameterType="Reply" >
        INSERT INTO REPLY(CONTENT_ID, WRITER, CONTENT, REGDATE) VALUES (#{contentId}, #{writer}, #{content}, #{regDate});
<!--        INSERT INTO REPLY(contentId, WRITER, CONTENT, REGDATE) VALUES (#{contentId}, #{writer}, #{content}, #{regDate});-->
    </insert>

    <update id="modify" parameterType="Reply">
        UPDATE REPLY SET CONTENT = #{content} WHERE REPLY_ID = #{replyId} AND CONTENT_ID = #{contentId};
<!--        UPDATE REPLY SET CONTENT = #{content} WHERE replyId = #{replyId} AND contentId = #{contentId};-->
    </update>

    <delete id="delete" parameterType="Reply">
        DELETE FROM REPLY WHERE REPLY_ID = #{replyId};
<!--        DELETE FROM REPLY WHERE replyId = #{replyId} AND contentId = #{contentId};-->
    </delete>

</mapper>